@import "fonts";
@import "~swiper/swiper-bundle.css";

* {
    margin: 0;
    font-family: ;
}

.w-container {
    max-width: 1254px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #9140bd;
}

.header {
    padding: 10px 0;
    .w-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        li {
            list-style: none;
            display: inline-block;
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                font-size: 18px;
            }
        }
    }
}